body {
	background-color: Black;

}

#backgroundIndex{
	background-image: url(index.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}
#BGTheme{
	background-image: url(S2.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}
#BGPlot{
	background-image: url(S3.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}
#BGMechanics{
	background-image: url(S4.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}

#BGChar{
	background-image: url(S5.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}
#BGVID{
	background-image: url(S6.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#Grim{
	background-image: url(char1.jpg);
	background-size: 100% 1080px;
	background-repeat: no-repeat;
}



h1,h3,h4,h5,h6,p{
	font-family:Arial;
	font-style: thick; /* Tjock text */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
	color:red;
	text-shadow: 2px 2px black ;
}
p{
	font-size: 20px
}
a{
	text-decoration: none;
}
li{
	font-family:Arial;
	font-style: thick;
	color:gold;
	text-shadow: 2px 2px black ;
}
ul{
	font-family:Arial;
	font-style: thick;
	text-align: left;
	color:gold;
	text-shadow: 2px 2px black ;
}

nav{
	float: right;
	width: auto;
	height: auto;
	margin: 60px 0px 0px 30px;
	background: rgba(0,0,0,0.4);
	border: 3px black solid;
	border-radius: 30px;
	

}

nav a{
	text-decoration: none;
	color:black;
	text-shadow: 2px 2px 2px black;
	transition: color .3s ease .0s, font-size 1.5s ease .0s;
}

nav a:hover{ /* Hur det ser ut när man hovrar med musen */
	color:orange;
	font-size: 30px;
}

#current{ 
	text-decoration:underline;	
	color:gold;
}

.navLink{
	position:relative;
	}

.container{
	position:relative;
	float: left;
	width: 80%;
	min-width: 300px;
	margin: 25px auto 0px auto; /* toppen höger botten vänster */
	border: 3px black solid; /* border-width border-color border-style*/
	background: rgba(0,0,0,0.4); /*Bakgrundsfärg för container, röd, grön, blå, opacity, */
	border-radius: 30px; /*Container radius för t.ex. runda hörn */
}
.container2{
	position:relative;
	float: left;
	width: 720px;
	min-width: 300px;
	margin: auto auto 0px auto; 
	border: 15px black solid;
	background: rgba(0,0,0,0.4);
	border-radius: 35px;
}
.container3{
	position:relative;
	float: left;
	width: 375px;
	height: 304px;
	background-image: url(http://i3.kym-cdn.com/photos/images/original/000/715/766/21c.gif);
	border: 15px black solid;
	border-radius: 20px;
}




